/* Includes padding/margins in height/width calculations */
* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.img-fit {
  max-width: 100%;
  min-width: 100%;
}

.circle-image {
  border-radius: 50%;
}

body {
  background-color: #eecef5;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;

  margin: 20px 30px;
}

.head-font {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.body-font {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;

  line-height: 2.5em;
}

.subbanner-font {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;

  word-wrap: break-word;
}

.indent {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.primary-background {
  background-color: #fcffc7;
  padding: 10px 0px 10px;
}

.text-margin {
  margin: 0;
}

.text-align {
  text-align: center;
}

.center {
  display: block;
  margin: auto auto;
}

.center-margin {
  margin: 0 1%;
}

.left-margin {
  margin-left: 1%;
}

.right-margin {
  margin-right: 1%;
}

.clear {
  clear: both;
  background-color: transparent;
  height: 0;
  width: 0;
}

.clear-test {
  clear: right;
}

.flex-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.head-container {
  background-color: #e8ffff;
  margin: 0 10px;
}

.padcontainer {
  padding: 1%;
}

.padcontainer2 {
  padding: 5%;
}

.inner-container {
  float: left;
  background-color: transparent;
  height: 100%;
  width: 33%;
}

.inner-banner {
  float: left;
  background-color: transparent;
  height: 10%;
  width: 100%;

  padding: 12.5px 5px;
  margin-bottom: 2%;
}

.inner-subbanner {
  float: left;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.demo-photo {
  float: left;
  height: 100%;
  width: 25%;
}

.demo-description {
  background-color: #f5d7e7;
  float: left;
  width: 75%;
}

.demo-description p {
  margin: 5% 5px;
}

.border {
  border-style: solid;
  border-color: #7db3de;
  border-width: 2px;
}

.lcorner-icon {
  float: left;
}

.rcorner-icon {
  float: right;
}

.web-box {
  width: 14px;
  height: 14px;

  border-style: solid;
  border-color: #2c506e;
  border-width: 2px;
}
