* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

body {
  background-color: #eecef5;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;

  margin: 20px 30px;
}

h1 {
  font-size: 18px;
}

.primary-background {
  background-color: #fcffc7;
  padding: 10px 0px 10px;
}

.text-margin {
  margin: 0;
}

.text-align {
  text-align: center;
}

.circle-photo {
  border-radius: 50%;
}

.center {
  display: block;
  margin: 0 auto;
}

.center-margin {
  margin: 0 1%;
}

.clear {
  clear: both;
  background-color: transparent;
  height: 0;
  width: 0;
}

.clear-test {
  clear: right;
}

.head-container {
  background-color: #e8ffff;
  margin: 0 10px;
}

.padcontainer {
  padding: 1%;
}

.inner-container {
  float: left;
  background-color: transparent;
  height: 500px;
  width: 33%;
}

.inner-banner {
  float: left;
  background-color: transparent;
  height: 10%;
  width: 100%;

  margin-bottom: 2%;
}

.inner-subbanner {
  float: left;
  background-color: transparent;
  height: 89%;
  width: 100%;
}

.border {
  border-style: solid;
  border-color: #7db3de;
  border-width: 2px;
}

.lcorner-icon {
  float: left;
}

.rcorner-icon {
  float: right;
}

.web-box {
  width: 14px;
  height: 14px;

  border-style: solid;
  border-color: #2c506e;
  border-width: 2px;
}
